body {
  font-family: sans-serif;
  padding: 20px;
  background: #ffffff;
}
.title_parts{
  text-align: center;
}

.title_parts h1 {
  display: inline-block;
  margin: 20px auto;
  
  border-bottom: 2px solid rgb(75, 177, 109) ;
  padding-bottom:8px;
}

form label {
  display: block;
  margin: 10px 0;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #bebaba;
}

th, td {
  padding: 8px;
  text-align: left;
}
